* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-weight: bold;
}

header {
    background:whitesmoke;
    color: #0c0c0c;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
   
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px; 
    margin-right: 15px; 
    height: 70px;
}

.logo-title {
    color: #0a0a0a; 
    font-size: 24px; 
    font-weight: bold; 
}




nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative; 
    margin: 0 40px;
}

nav ul li a {
    color: #0a0909;
    text-decoration: none;
}

.dropdown {
    display: none; 
    position: absolute; 
    background: whitesmoke;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    width:300px;
}

nav ul li:hover .dropdown {
    display: block; 
}

.dropdown li {
    margin: 5px 10px;
} 

.dropdown li a {
    color: #0c0c0c; 
}

.head{
    text-align: center;
}
.about-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.about-text {
    flex: 1;
    padding-right: 20px;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    height: 500px;
}

.review{
    text-align: center;
    background-color: gold;

}
.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.service-card img {
    width: 200px;
    margin-bottom: 20px;
}

.service-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-card p {
    color: #666;
    margin-bottom: 20px;
}

.service-card button {
    padding: 10px 20px;
    border: none;
    background-color: #ffc107;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.service-card button:hover {
    background-color: #e0a800;
}

.service-card:hover {
    transform: translateY(-10px);
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        text-align: center;
        background-color: white;
        width: 100%;
    }
    nav ul li {
        position: relative;
        margin: 0 19px;
    
    }
    
    .logo img {
        width: 80px;
        height: 50px;
    }

    .logo-title {
        font-size: 20px;
    }
}

