* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-weight: bold;
}

header {
    background:whitesmoke;
    color: #0c0c0c;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-right: 15px;
    height: 70px;
}

.logo-title {
    color: #0c0c0c;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative;
    margin: 0 40px;
}

nav ul li a {
    color: #131212;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    background:whitesmoke;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    width:300px;
    z-index: 10;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    margin: 5px 10px;

}

.dropdown li a {
    color: #030303;
    
}

.head {
    text-align: center;
    margin: 20px 0;
}

.about-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: -10;

}

.about-text {
    flex: 1;
    padding-right: 20px;
}

.about-carousel {
    flex: 1;
}

.carousel-inner img {
    border-radius: 10px;
    height: 500px;
}
.gallery{
    text-align: center;
    background-color: gold;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.gal{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}
.gal img{
    width:100%;
    height: 100%;
}
       
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        padding-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        text-align: center;
        background-color: white;
        width: 100%;
    }
    nav ul li {
        position: relative;
        margin: 0 19px;
    
    }
    
    .logo img {
        width: 80px;
        height: 50px;
    }

    .logo-title {
        font-size: 20px;
    }
}
