body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(j.jpg);
}

.header {
    text-align: center;
    background: linear-gradient(to right, #15282c, #0083b0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-transform: uppercase;
    text-shadow: #040800;
    /* position:relative; */
}

.header img {
    height: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.content {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    /* background: white; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-image: url(j.jpg); */
}

.map {
    flex: 1;
    min-width: 300px;
    height: 500px;
}

.contact {
    flex: 1;
    padding: 20px;
}

.meet-us, .pitch-us {
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #00b4db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0083b0;
}
